# Base
BasedOnStyle: Google
# Don't use tab characters
UseTab: Never
# 4 Spaces between "groups"
TabWidth: 4
IndentWidth: 4
# Allow me to fucking write my code will ya?
ColumnLimit: 300
# Indent everything in headers
NamespaceIndentation: All
# The fuck
AccessModifierOffset: -4
# Breaks Functionality
SortIncludes: Never
# Why?
FixNamespaceComments: false
SpacesBeforeTrailingComments: 1
# I dont like single line functions
BinPackArguments: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseExpressionOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false